/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.button {
  color: #7b8794;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #dfe2e5;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.active {
  border-bottom: 3px solid #2563eb;
  color: #2563eb;
  padding-bottom: 10px;
  font-weight: 800;
}
